{
  "plugins": ["source-map-support", "@babel/plugin-transform-runtime"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12"
        }
      }
    ]
  ]
}
